{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center mt-3 mb-3">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mt-3 mb-3" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}project/contribute/" role="button">{{ i18n "get-started" }}</a>
      <p class="meta mt-4">Open-source MIT Licensed. <a href="https://github.com/opensentiment">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Media Literacy</h2>
          <p>Empower yourself to discern nuanced biases in news reporting.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Balanced Reporting</h2>
          <p>Hold media organizations accountable by spotlighting their underlying political biases.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Public Discourse</h2>
          <p>Encourage informed conversations by understanding the bias landscape.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Comparative Studies</h2>
          <p>Discover how media sentiments shift across regions and political systems.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Bias Over Time</h2>
          <p>Watch the evolution of media bias and its impact on global events.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Collective Effort</h2>
          <p>Contribute to Open Sentiment's mission to illuminate the media landscape and educate the public.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center text-center mt-5">
        <p>Note: OpenSentiment has just been launched and we are actively seeking contributors, partners, and supporters.</p>
      </div>
    </div>
      </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
